
body {
  padding-top: 70px;
  padding-bottom: 30px;
  background: url(/img/cream_dust.png) repeat 0 0;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.content {
  text-align: center;
	}
	
img {
  border:1px solid #;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

